body {
    background-color: aqua;
}

label {
    display: block;
}

input {
    text-align: end;
}

::placeholder {
    position: absolute;
    text-align: left
}

.input-container {
    position: relative;
    input {
        padding-left: 2em;
    }
    .permanent-placeholder {
        position: absolute;
        left: 0.5em;
        margin-right: 0.9em;
        padding-right: 0.2em;
    }
}