body {
    background-color: hsl(185, 41%, 84%);
}

label {
    display: block;
}

input {
    text-align: end;
}

.main-container {
    width: 50%;
    margin: auto;
}

.left-container {
    position: relative;
    background: hsl(0, 100%, 100%);
    width: 50%;
    border-radius: 0.5em;
    margin: auto;
    padding: 1em;

    label {
        margin: 0.2em
    }

    .input-container {
        position: relative;
    }

    input {
        padding: 0.5em 0.5em 0.5em 2em;
        background-color: hsl(189, 47%, 97%);
        border-radius: 0.2em;
        width: max-content;
    }

    .permanent-placeholder {
        position: absolute;
        left: 0.5em;
        bottom: 0.5em;
        margin-right: 0.9em;
        padding-right: 0.2em;
    }
}